---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Asign-U">
	
	<main>
		<svg
			class="astro-a"
			width="270"
			height="423"
			viewBox="0 0 600 700"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
			<path d="M 229 1.111 C 201.761 3.508, 160.387 17.616, 133.338 33.731 C 88.871 60.223, 51.679 99.610, 27.932 145.356 C 19.467 161.665, 14.332 174.532, 8.654 193.661 C 0.677 220.539, 0.534 221.749, 0.227 264.799 C -0.040 302.186, 0.014 303.425, 2.501 316.799 C 9.921 356.706, 22.884 388.568, 45.212 421.786 C 64.984 451.201, 99.369 482.893, 132 501.778 C 160.035 518.003, 199.660 531.877, 226.869 534.995 C 237.852 536.253, 295.620 536.269, 307.500 535.017 C 333.924 532.231, 372.743 518.670, 399.922 502.729 C 428.040 486.238, 449.541 468.074, 472.401 441.500 C 499.800 409.649, 515.794 379.041, 526.881 337.239 C 535.083 306.315, 535.014 306.937, 534.990 264 C 534.979 242.825, 534.597 226.087, 534.141 226.806 C 533.614 227.637, 532.671 225.095, 531.544 219.806 C 522.842 178.947, 510.292 147.613, 490.661 117.737 C 475.020 93.931, 448.733 67.055, 420.500 45.999 C 403.421 33.262, 374.890 18.631, 356.500 13.180 C 352.650 12.038, 345.675 9.931, 341 8.496 C 328.461 4.649, 314.217 2.107, 299 1 C 283.167 -0.152, 242.622 -0.088, 229 1.111 M 247 11.631 C 224.869 13.689, 198.059 19.598, 179.435 26.523 C 168.090 30.741, 144 41.953, 144 43.015 C 144 43.682, 150.868 56.746, 152.930 60 C 153.452 60.825, 157.341 67.575, 161.571 75 C 165.801 82.425, 171.391 92.100, 173.993 96.500 C 176.595 100.900, 180.065 106.975, 181.703 110 C 186.888 119.571, 205.238 151.385, 207.227 154.250 L 209.136 157 267.007 157 L 324.877 157 328.026 151.750 C 329.758 148.863, 336.339 137.500, 342.651 126.500 C 348.963 115.500, 356.505 102.450, 359.412 97.500 C 365.259 87.542, 371.394 76.880, 375.237 70 C 376.619 67.525, 380.549 60.690, 383.971 54.810 C 387.578 48.613, 389.881 43.617, 389.452 42.923 C 388.422 41.256, 366.541 30.968, 354.565 26.519 C 341.723 21.749, 317.603 15.664, 303 13.511 C 291.926 11.878, 256.964 10.704, 247 11.631 M 259 93.500 L 259 139 268.500 139 L 278 139 278 93.500 L 278 48 268.500 48 L 259 48 259 93.500 M 123.463 55.384 C 83.829 82.536, 51.888 120.867, 33.019 163.918 C 21.044 191.241, 13.479 222.421, 11.464 252.757 L 10.783 263.015 75.514 262.757 L 140.244 262.500 147.718 249.500 C 151.828 242.350, 158.001 231.550, 161.435 225.500 C 164.868 219.450, 170.064 210.450, 172.979 205.500 C 175.895 200.550, 180.411 192.643, 183.015 187.929 C 185.618 183.216, 188.869 177.584, 190.238 175.415 C 191.607 173.247, 193.902 169.153, 195.338 166.319 L 197.949 161.167 192.649 151.833 C 189.734 146.700, 182.157 133.500, 175.812 122.500 C 169.466 111.500, 162.814 99.800, 161.030 96.500 C 159.245 93.200, 156.771 88.925, 155.531 87 C 154.292 85.075, 149.125 76.209, 144.050 67.299 C 138.975 58.388, 134.300 50.669, 133.661 50.145 C 132.870 49.496, 129.624 51.163, 123.463 55.384 M 391.556 62.760 C 387.187 70.317, 380.272 82.125, 376.189 89 C 372.106 95.875, 367.177 104.425, 365.235 108 C 363.294 111.575, 360.168 116.975, 358.288 120 C 356.409 123.025, 352.949 128.875, 350.599 133 C 348.249 137.125, 343.550 145.279, 340.156 151.121 L 333.985 161.741 338.382 169.121 C 340.800 173.179, 348.063 185.725, 354.522 197 C 360.982 208.275, 367.931 220.200, 369.965 223.500 C 371.999 226.800, 375.132 232.425, 376.927 236 C 378.722 239.575, 380.772 243.175, 381.484 244 C 382.195 244.825, 384.877 249.408, 387.443 254.184 L 392.110 262.867 435.305 263.184 C 459.062 263.358, 488.559 263.356, 500.853 263.179 L 523.206 262.858 522.530 252.679 C 517.152 171.650, 475.802 99.421, 408.879 54.155 C 404.687 51.320, 400.862 49.005, 400.379 49.010 C 399.896 49.016, 395.925 55.203, 391.556 62.760 M 75.500 137.178 C 70.225 139.072, 65.851 143.123, 63.402 148.383 C 61.392 152.700, 61.020 155.063, 61.020 163.500 C 61.020 171.937, 61.392 174.300, 63.402 178.617 C 65.915 184.013, 70.187 187.876, 76 190.007 C 78.359 190.872, 87.650 191.432, 104.500 191.726 C 132.392 192.212, 132 192.106, 132 199.191 C 132 201.667, 131.300 203.700, 130 205 C 128.124 206.876, 126.667 207, 106.434 207 C 84.126 207, 81 206.504, 81 202.965 C 81 201.143, 80.274 201, 71 201 L 61 201 61 205.304 C 61 211.178, 65.102 219.118, 69.783 222.304 C 75.905 226.471, 79.962 226.989, 106.568 226.994 C 135.817 227.001, 139.675 226.316, 145.268 220.125 C 150.127 214.747, 151.494 210.110, 151.497 199 C 151.501 184.426, 148.020 177.552, 138.500 173.334 C 135.097 171.826, 130.695 171.506, 109 171.192 C 93.482 170.967, 83.011 170.418, 82.250 169.789 C 81.535 169.197, 81 166.469, 81 163.413 C 81 159.154, 81.392 157.860, 82.934 157.035 C 84.099 156.412, 93.588 156, 106.779 156 C 126.736 156, 128.838 156.163, 130.345 157.829 C 131.255 158.835, 132 160.185, 132 160.829 C 132 161.647, 135.056 162, 142.129 162 L 152.258 162 151.594 156.750 C 150.589 148.792, 147.227 143.035, 141.526 139.509 L 136.662 136.500 107.581 136.300 C 88.823 136.172, 77.435 136.483, 75.500 137.178 M 401.173 137.484 C 393.712 139.813, 389.304 143.637, 385.743 150.871 L 382.500 157.461 382.500 181.480 C 382.500 204.454, 382.601 205.723, 384.816 210.618 C 387.674 216.932, 391.966 221.191, 398.500 224.199 C 403.366 226.438, 404.430 226.508, 438.266 226.809 L 473.032 227.118 472.766 199.309 L 472.500 171.500 446.750 171.233 L 421 170.966 421 180.983 L 421 191 435.418 191 C 443.348 191, 450.548 191.273, 451.418 191.607 C 452.665 192.085, 453 193.794, 453 199.676 L 453 207.137 430.416 206.819 L 407.832 206.500 404.916 203.234 L 402 199.968 402 182.031 C 402 171.409, 402.437 163.135, 403.071 161.743 C 405.383 156.670, 406.260 156.535, 440.500 156 L 472.500 155.500 472.786 145.750 L 473.072 136 439.286 136.067 C 413.880 136.117, 404.427 136.469, 401.173 137.484 M 0.456 266.500 C 0.456 288.500, 0.588 297.358, 0.749 286.183 C 0.910 275.009, 0.910 257.009, 0.749 246.183 C 0.587 235.358, 0.455 244.500, 0.456 266.500 M 221 259.818 C 221 296.311, 221.420 299.463, 227.322 307.200 C 234.321 316.377, 242.844 318.443, 270.843 317.751 C 292.514 317.216, 296.560 316.193, 303.438 309.509 C 310.921 302.236, 311.321 299.892, 311.762 260.750 L 312.142 227 302.071 227 L 292 227 292 258.984 L 292 290.968 289.084 294.234 L 286.169 297.500 267.834 297.828 C 252.190 298.107, 249.040 297.910, 246.368 296.484 C 240.694 293.456, 240.528 292.426, 240.197 258.250 L 239.895 227 230.447 227 L 221 227 221 259.818 M 11.415 283.750 C 14.742 335.731, 32.894 383.768, 65.341 426.460 C 73.552 437.264, 94.419 458.559, 105.500 467.442 C 117.230 476.844, 130.402 486.008, 132.131 485.969 C 132.884 485.952, 136.558 480.664, 140.295 474.219 C 144.032 467.773, 150.445 456.738, 154.545 449.695 C 158.645 442.652, 162 436.768, 162 436.620 C 162 436.471, 166.162 429.317, 171.250 420.722 C 186.039 395.738, 194.665 380.772, 196.521 376.880 L 198.246 373.260 193.553 364.880 C 190.971 360.271, 186.254 352, 183.070 346.500 C 174.919 332.419, 165.532 316.041, 159.572 305.500 C 156.773 300.550, 151.355 291.212, 147.533 284.750 L 140.583 273 75.655 273 L 10.727 273 11.415 283.750 M 386.836 282.572 C 383.901 287.837, 380.210 294.475, 378.634 297.322 C 377.058 300.170, 372.637 307.900, 368.810 314.500 C 364.983 321.100, 361.349 327.400, 360.734 328.500 C 360.120 329.600, 356.715 335.450, 353.167 341.500 C 349.620 347.550, 345.380 354.975, 343.746 358 C 342.112 361.025, 339.252 366.032, 337.391 369.126 L 334.006 374.751 340.656 386.126 C 347.961 398.621, 356.976 414.386, 363.457 426 C 365.758 430.125, 371.169 439.575, 375.480 447 C 383.302 460.473, 392.458 476.375, 396.208 483 C 397.297 484.925, 398.537 486.869, 398.964 487.319 C 399.390 487.770, 404.185 485.111, 409.619 481.410 C 476.067 436.157, 517.147 364.087, 522.570 283.250 L 523.258 273 457.715 273 L 392.173 273 386.836 282.572 M 115.993 300.143 C 111.059 308.743, 106.862 316.007, 97.297 332.500 C 77.179 367.188, 66.042 386.687, 65.437 388.284 C 64.808 389.940, 65.569 390.047, 76.097 389.784 L 87.435 389.500 90.967 383.257 L 94.500 377.014 120.500 377.026 L 146.500 377.038 150.290 383.519 L 154.080 390 165.621 390 L 177.163 390 175.207 386.750 C 172.438 382.147, 149.547 342.442, 134.996 317 C 128.233 305.175, 122.141 294.889, 121.457 294.143 C 120.438 293.030, 119.452 294.113, 115.993 300.143 M 388.667 299.667 C 388.300 300.033, 388 320.508, 388 345.167 L 388 390 398.500 390 L 409 390 409 361.757 L 409 333.513 437.256 361.757 L 465.513 390 472.767 390 L 480.020 390 479.760 344.750 L 479.500 299.500 469.750 299.214 L 460 298.928 460 326.964 C 460 342.384, 459.659 355, 459.243 355 C 458.827 355, 445.893 342.400, 430.500 327 L 402.513 299 395.923 299 C 392.299 299, 389.033 299.300, 388.667 299.667 M 115.928 340.227 C 113.625 344.227, 110.453 349.637, 108.879 352.250 L 106.018 357 120.566 357 L 135.113 357 132.511 352.750 C 131.079 350.413, 128.089 345.240, 125.866 341.255 C 123.643 337.270, 121.440 333.772, 120.970 333.481 C 120.500 333.191, 118.231 336.226, 115.928 340.227 M 200.008 392.250 C 196.035 398.988, 188.557 411.666, 183.392 420.424 C 178.226 429.183, 174 436.537, 174 436.766 C 174 436.996, 170.788 442.655, 166.863 449.342 C 148.172 481.182, 143 490.388, 143 491.819 C 143 494.272, 170 506.669, 187.912 512.440 C 212.677 520.419, 231.774 523.750, 258 524.668 C 299.248 526.112, 339.787 517.800, 375.685 500.537 C 383.219 496.915, 389.536 493.797, 389.724 493.610 C 389.911 493.422, 385.263 484.996, 379.394 474.885 C 373.526 464.773, 366.852 453.125, 364.563 449 C 362.274 444.875, 358.692 438.575, 356.602 435 C 354.513 431.425, 349.645 423.100, 345.786 416.500 C 341.927 409.900, 338.519 403.825, 338.214 403 C 337.909 402.175, 336.611 400.228, 335.330 398.673 C 334.048 397.119, 333 395.471, 333 395.011 C 333 394.552, 331.161 390.986, 328.914 387.088 L 324.827 380 266.030 380 L 207.233 380 200.008 392.250" 
		stroke="none" fill="#f7fafa" fill-rule="evenodd"/>
			<path fill-rule="evenodd" clip-rule="evenodd"d="M 247 11.631 C 224.869 13.689, 198.059 19.598, 179.435 26.523 C 168.090 30.741, 144 41.953, 144 43.015 C 144 43.682, 150.868 56.746, 152.930 60 C 153.452 60.825, 157.341 67.575, 161.571 75 C 165.801 82.425, 171.391 92.100, 173.993 96.500 C 176.595 100.900, 180.065 106.975, 181.703 110 C 186.888 119.571, 205.238 151.385, 207.227 154.250 L 209.136 157 267.007 157 L 324.877 157 328.026 151.750 C 329.758 148.863, 336.339 137.500, 342.651 126.500 C 348.963 115.500, 356.505 102.450, 359.412 97.500 C 365.259 87.542, 371.394 76.880, 375.237 70 C 376.619 67.525, 380.549 60.690, 383.971 54.810 C 387.578 48.613, 389.881 43.617, 389.452 42.923 C 388.422 41.256, 366.541 30.968, 354.565 26.519 C 341.723 21.749, 317.603 15.664, 303 13.511 C 291.926 11.878, 256.964 10.704, 247 11.631 M 259 93.500 L 259 139 268.500 139 L 278 139 278 93.500 L 278 48 268.500 48 L 259 48 259 93.500 M 123.463 55.384 C 83.829 82.536, 51.888 120.867, 33.019 163.918 C 21.044 191.241, 13.479 222.421, 11.464 252.757 L 10.783 263.015 75.514 262.757 L 140.244 262.500 147.718 249.500 C 151.828 242.350, 158.001 231.550, 161.435 225.500 C 164.868 219.450, 170.064 210.450, 172.979 205.500 C 175.895 200.550, 180.411 192.643, 183.015 187.929 C 185.618 183.216, 188.869 177.584, 190.238 175.415 C 191.607 173.247, 193.902 169.153, 195.338 166.319 L 197.949 161.167 192.649 151.833 C 189.734 146.700, 182.157 133.500, 175.812 122.500 C 169.466 111.500, 162.814 99.800, 161.030 96.500 C 159.245 93.200, 156.771 88.925, 155.531 87 C 154.292 85.075, 149.125 76.209, 144.050 67.299 C 138.975 58.388, 134.300 50.669, 133.661 50.145 C 132.870 49.496, 129.624 51.163, 123.463 55.384 M 391.556 62.760 C 387.187 70.317, 380.272 82.125, 376.189 89 C 372.106 95.875, 367.177 104.425, 365.235 108 C 363.294 111.575, 360.168 116.975, 358.288 120 C 356.409 123.025, 352.949 128.875, 350.599 133 C 348.249 137.125, 343.550 145.279, 340.156 151.121 L 333.985 161.741 338.382 169.121 C 340.800 173.179, 348.063 185.725, 354.522 197 C 360.982 208.275, 367.931 220.200, 369.965 223.500 C 371.999 226.800, 375.132 232.425, 376.927 236 C 378.722 239.575, 380.772 243.175, 381.484 244 C 382.195 244.825, 384.877 249.408, 387.443 254.184 L 392.110 262.867 435.305 263.184 C 459.062 263.358, 488.559 263.356, 500.853 263.179 L 523.206 262.858 522.530 252.679 C 517.152 171.650, 475.802 99.421, 408.879 54.155 C 404.687 51.320, 400.862 49.005, 400.379 49.010 C 399.896 49.016, 395.925 55.203, 391.556 62.760 M 75.500 137.178 C 70.225 139.072, 65.851 143.123, 63.402 148.383 C 61.392 152.700, 61.020 155.063, 61.020 163.500 C 61.020 171.937, 61.392 174.300, 63.402 178.617 C 65.915 184.013, 70.187 187.876, 76 190.007 C 78.359 190.872, 87.650 191.432, 104.500 191.726 C 132.392 192.212, 132 192.106, 132 199.191 C 132 201.667, 131.300 203.700, 130 205 C 128.124 206.876, 126.667 207, 106.434 207 C 84.126 207, 81 206.504, 81 202.965 C 81 201.143, 80.274 201, 71 201 L 61 201 61 205.304 C 61 211.178, 65.102 219.118, 69.783 222.304 C 75.905 226.471, 79.962 226.989, 106.568 226.994 C 135.817 227.001, 139.675 226.316, 145.268 220.125 C 150.127 214.747, 151.494 210.110, 151.497 199 C 151.501 184.426, 148.020 177.552, 138.500 173.334 C 135.097 171.826, 130.695 171.506, 109 171.192 C 93.482 170.967, 83.011 170.418, 82.250 169.789 C 81.535 169.197, 81 166.469, 81 163.413 C 81 159.154, 81.392 157.860, 82.934 157.035 C 84.099 156.412, 93.588 156, 106.779 156 C 126.736 156, 128.838 156.163, 130.345 157.829 C 131.255 158.835, 132 160.185, 132 160.829 C 132 161.647, 135.056 162, 142.129 162 L 152.258 162 151.594 156.750 C 150.589 148.792, 147.227 143.035, 141.526 139.509 L 136.662 136.500 107.581 136.300 C 88.823 136.172, 77.435 136.483, 75.500 137.178 M 401.173 137.484 C 393.712 139.813, 389.304 143.637, 385.743 150.871 L 382.500 157.461 382.500 181.480 C 382.500 204.454, 382.601 205.723, 384.816 210.618 C 387.674 216.932, 391.966 221.191, 398.500 224.199 C 403.366 226.438, 404.430 226.508, 438.266 226.809 L 473.032 227.118 472.766 199.309 L 472.500 171.500 446.750 171.233 L 421 170.966 421 180.983 L 421 191 435.418 191 C 443.348 191, 450.548 191.273, 451.418 191.607 C 452.665 192.085, 453 193.794, 453 199.676 L 453 207.137 430.416 206.819 L 407.832 206.500 404.916 203.234 L 402 199.968 402 182.031 C 402 171.409, 402.437 163.135, 403.071 161.743 C 405.383 156.670, 406.260 156.535, 440.500 156 L 472.500 155.500 472.786 145.750 L 473.072 136 439.286 136.067 C 413.880 136.117, 404.427 136.469, 401.173 137.484 M 221 259.818 C 221 296.311, 221.420 299.463, 227.322 307.200 C 234.321 316.377, 242.844 318.443, 270.843 317.751 C 292.514 317.216, 296.560 316.193, 303.438 309.509 C 310.921 302.236, 311.321 299.892, 311.762 260.750 L 312.142 227 302.071 227 L 292 227 292 258.984 L 292 290.968 289.084 294.234 L 286.169 297.500 267.834 297.828 C 252.190 298.107, 249.040 297.910, 246.368 296.484 C 240.694 293.456, 240.528 292.426, 240.197 258.250 L 239.895 227 230.447 227 L 221 227 221 259.818 M 11.415 283.750 C 14.742 335.731, 32.894 383.768, 65.341 426.460 C 73.552 437.264, 94.419 458.559, 105.500 467.442 C 117.230 476.844, 130.402 486.008, 132.131 485.969 C 132.884 485.952, 136.558 480.664, 140.295 474.219 C 144.032 467.773, 150.445 456.738, 154.545 449.695 C 158.645 442.652, 162 436.768, 162 436.620 C 162 436.471, 166.162 429.317, 171.250 420.722 C 186.039 395.738, 194.665 380.772, 196.521 376.880 L 198.246 373.260 193.553 364.880 C 190.971 360.271, 186.254 352, 183.070 346.500 C 174.919 332.419, 165.532 316.041, 159.572 305.500 C 156.773 300.550, 151.355 291.212, 147.533 284.750 L 140.583 273 75.655 273 L 10.727 273 11.415 283.750 M 386.836 282.572 C 383.901 287.837, 380.210 294.475, 378.634 297.322 C 377.058 300.170, 372.637 307.900, 368.810 314.500 C 364.983 321.100, 361.349 327.400, 360.734 328.500 C 360.120 329.600, 356.715 335.450, 353.167 341.500 C 349.620 347.550, 345.380 354.975, 343.746 358 C 342.112 361.025, 339.252 366.032, 337.391 369.126 L 334.006 374.751 340.656 386.126 C 347.961 398.621, 356.976 414.386, 363.457 426 C 365.758 430.125, 371.169 439.575, 375.480 447 C 383.302 460.473, 392.458 476.375, 396.208 483 C 397.297 484.925, 398.537 486.869, 398.964 487.319 C 399.390 487.770, 404.185 485.111, 409.619 481.410 C 476.067 436.157, 517.147 364.087, 522.570 283.250 L 523.258 273 457.715 273 L 392.173 273 386.836 282.572 M 115.993 300.143 C 111.059 308.743, 106.862 316.007, 97.297 332.500 C 77.179 367.188, 66.042 386.687, 65.437 388.284 C 64.808 389.940, 65.569 390.047, 76.097 389.784 L 87.435 389.500 90.967 383.257 L 94.500 377.014 120.500 377.026 L 146.500 377.038 150.290 383.519 L 154.080 390 165.621 390 L 177.163 390 175.207 386.750 C 172.438 382.147, 149.547 342.442, 134.996 317 C 128.233 305.175, 122.141 294.889, 121.457 294.143 C 120.438 293.030, 119.452 294.113, 115.993 300.143 M 388.667 299.667 C 388.300 300.033, 388 320.508, 388 345.167 L 388 390 398.500 390 L 409 390 409 361.757 L 409 333.513 437.256 361.757 L 465.513 390 472.767 390 L 480.020 390 479.760 344.750 L 479.500 299.500 469.750 299.214 L 460 298.928 460 326.964 C 460 342.384, 459.659 355, 459.243 355 C 458.827 355, 445.893 342.400, 430.500 327 L 402.513 299 395.923 299 C 392.299 299, 389.033 299.300, 388.667 299.667 M 115.928 340.227 C 113.625 344.227, 110.453 349.637, 108.879 352.250 L 106.018 357 120.566 357 L 135.113 357 132.511 352.750 C 131.079 350.413, 128.089 345.240, 125.866 341.255 C 123.643 337.270, 121.440 333.772, 120.970 333.481 C 120.500 333.191, 118.231 336.226, 115.928 340.227 M 200.008 392.250 C 196.035 398.988, 188.557 411.666, 183.392 420.424 C 178.226 429.183, 174 436.537, 174 436.766 C 174 436.996, 170.788 442.655, 166.863 449.342 C 148.172 481.182, 143 490.388, 143 491.819 C 143 494.272, 170 506.669, 187.912 512.440 C 212.677 520.419, 231.774 523.750, 258 524.668 C 299.248 526.112, 339.787 517.800, 375.685 500.537 C 383.219 496.915, 389.536 493.797, 389.724 493.610 C 389.911 493.422, 385.263 484.996, 379.394 474.885 C 373.526 464.773, 366.852 453.125, 364.563 449 C 362.274 444.875, 358.692 438.575, 356.602 435 C 354.513 431.425, 349.645 423.100, 345.786 416.500 C 341.927 409.900, 338.519 403.825, 338.214 403 C 337.909 402.175, 336.611 400.228, 335.330 398.673 C 334.048 397.119, 333 395.471, 333 395.011 C 333 394.552, 331.161 390.986, 328.914 387.088 L 324.827 380 266.030 380 L 207.233 380 200.008 392.250"
			<defs>
				<linearGradient
					id="paint0_linear_1805_24383"
					x1="247.358"
					y1="0"
					x2="247.358"
					y2="622.479"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-opacity="0.9"></stop>
					<stop offset="1" stop-opacity="0.2"></stop>
				</linearGradient>
			</defs>
		</svg>
		<p class="alert">
			<strong>Menú <span class="text-gradient">AsignU</span> <br />
		</p>
        <ul role="list" class="link-card-grid">
			<Card
				href="#"
				title="Marcar Entrada/Salida"
			/>
			<Card
				href="#"
				title="Recoger/Devolver Materiales"
			/>
			<Card
				href="#"
				title="Material/Aula Asignada"

			/>
			<Card
				href="./horario"
				title="Horario"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.alert {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		position: relative;
		top: 200px;
		text-align: center;
		border-radius: 8px;
	}
	.alert code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.alert strong {
		color: rgb(var(--accent-light));
	}
    .link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
		position: relative;
		top: 200px;

	}
</style>
