   <form class="form" action="./menu" method="POST">
		<label>
		  Correo Electrónico:
		  <input type="email" name="email" required/>
		</label>
		<br>
		<label>
		  Contraseña:
		  <input type="password" name="password" required/>
		</label>	
		<br>
		<button>Enviar</button>
	  </form>



<style>
.form {
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: white;
    opacity: 0.8;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(var(--accent-dark2), 66%), rgba(var(--accent-dark2), 33%));
    border: 1px solid rgba(var(--accent-light2), 25%);
}

/* Estilos específicos para pantallas más grandes (computadoras) */
@media (min-width: 768px) {
    .form {
        width: 15%;
    }
}



</style>
